---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
---

<Layout title="Porfolio de Cristian F. Ortega.">
  <main>
    <section class="w-full lg:w-[740px] mx-auto py-44">
      <h1 class="text-black text-5xl font-bold flex flex-row gap-x-4 pb-6">
        Hey, soy Cristian F &#x1F468;&#x1F3FD
        <a href="https://www.linkedin.com/in/cristian-o/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center">
          <Badge>Available for work &#x1F4BC;</Badge>
        </a>
      </h1>
      <h2 class="text-2xl opacity-80 text-wrap">
        <spam class="text-4xl text-blue-800">+</spam>
        <spam class="text-blue-600/90">2 Años de experieicnia</spam>.
        <spam class="text-red-900 opacity-90">Desarrollador web y Diseñador de productos digitales</spam> &#x1F4BB; 
        <spam class="text-yellow-900 opacity-75">de Colombia, Valledupar</spam>.
        <spam class="text-black-1000 opacity-55">Especializado en crear soluciones únicas</spam>.
      </h2>
      <ul></ul>
    </section>
  </main>
</Layout>
