<header class="flex justify-between items-center py-3 w-[1120px] mx-auto">
    <figure class="w-full object-cover object-center">
        <img class="rounded-md size-12" src="Logo.svg" alt="logo photo">
    </figure>
    
    <nav class="flex flex-row  gap-x-10" opacity-75>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">contact</a>
    </nav>
</header>