<header class="flex justify-between items-center py-3 w-[1120px] mx-auto">
    <figure class="w-full object-cover object-center">
        <img class="rounded-md size-12" src="Logo.svg" alt="logo photo">
    </figure>
    
    <nav class="flex flex-row  gap-x-10" opacity-75>
        <a class="text-gray-600 hover:text-gray-900 transition-color duration-200 hover:scale-110" href="/">Inicio</a>
        <a class="text-gray-600 hover:text-gray-900 transition-color duration-200 hover:scale-110" href="/about">experieicnia</a>
        <a class="text-gray-600 hover:text-gray-900 transition-color duration-200 hover:scale-110" href="/projects">Proyectos</a>
        <a class="text-gray-600 hover:text-gray-900 transition-color duration-200 hover:scale-110" href="/contact">contacto</a>
    </nav>
</header>